* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Inicio */

body {
    background-color: rgb(246, 246, 246);
}

.contenedor__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(0, 180, 0);
    align-items: center;
    padding: 1rem;
}
 .fas {
    color: white;
 }

.boton__carrito {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border: none;
   background: none;
   width: 50px;
   size: 100px;
   font-size: 20px;
}

.contador {
    color: white;
 }

.input.group {
    display: flex;
    color: rgb(20, 115, 20);
}

 .btn__buscador {
    color: green;
 }

 /* Contenedor Consola */

 .titulo__producto {
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    gap: 20px;
 }

 .precio__producto {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: red;
    padding-bottom: 1rem ;
 }

 .contenedor__productos {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;

 }

 .boton__productos {
    border: 0px;
    background-color: rgb(0, 180, 0);
    color: white;
    font-weight: 300;
    padding: 12px;
 } 



.consola__card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    width: 180px;
    height: 350px;
    box-shadow: rgb(118, 118, 118) 2px 2px 5px;  
}

.contain__pokemon {
   display: flex;
   justify-content: space-around;
}

.form__contain {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 100px;
}

.contain__pokemon2 {
   display: flex;
   justify-content: space-around;
}

 .boton__buscar {
   padding: 15px;
   background-color: green;
   border: none;
   color: white;
 }

 .contain__consolas {
   display: flex;
   justify-content: space-around;
   max-width: 100%;
   /* padding: 20px; */
}

.modal__contenedor {
   margin-top: 500px;
}


.boton__modal {
   margin: 10px;
   padding: 10px 10px;
   background-color: rgb(0, 180, 0);
   border: none;
   color: white;
}

.contendor__busqueda {
   display: flex;
   justify-content: center;
   align-content: center;
   padding: 20px;
   background-attachment: white;
   max-width: 100%;
}

.input__busqueda {
   display: flex;
   max-width: 50%;
   color: green;
}

a {
   color: white;
   text-decoration: none;

}

.contendor__checkout {
   display: flex;
   justify-content: space-around;
   align-content: center;
   padding: 50px;
   background-color: rgb(216, 216, 216);
   border-radius: 20px;
   margin: 20px;

}

.tr__conain--checkout{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 60%;
}

.boton__modal--checkout {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 70%;
   align-content: center;   
}

.titulo__chechout h1 {
   display: flex;
   justify-content: center;
   font-size: 40px;
}

.titulo__form {
   display: flex;
   justify-content: center;
   font-size: 20px;
}

.contenedor__form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 40%;
}